@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@700&family=Lato:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F9F9F9;
}